<section>
  <div class="series-details-template">
    <h3>Series Name: <span class="series-name">{{name}}</span></h3>
    <p>Genre: {{genre}} </p>
    <p>Description: {{description}}</p>
    <button data-id="{{this._id}}">Installments</button>
    <div id="brief-{{this._id}}"></div>
    <!-- <a href="/"><button>Back to Main Page</button></a> -->
    <!-- <button class="delete" data-id="{{this._id}}">Delete This Series</button> -->
  </div>
</section>