{{#each body}}
  <div class="series-details-template" data-id="{{_id}}">
    <h3>{{name}}</h3>
    <p>First Aired: {{this.firstAired}}</p>
    <p>{{description}}</p>
    <!--<button>Installments</button>-->
    <!--<div id="brief-{{_id}}"></div>-->
    <!-- <a href="/"><button>Back to Main Page</button></a> -->
    <!-- <button class="delete" data-id="{{this._id}}">Delete This Series</button> -->
  </div>
{{/each}}
