  <h1>No Spoilers</h1>
  <h2>Series Overview</h2>
  <h3>Series Name: <span id="series-name">{{name}}</span></h3>
  <!--<p>Genre: {{genre}} </p>-->
  <p>Description: {{description}}</p>
  <!--<a href="/"><button>Back to Main Page</button></a>-->
  <!--<button class="delete" data-id="{{this._id}}">Delete This Series</button>-->
  <div id="installment-list-display">
    <h4> Episode count: {{installmentCount}} </h4>
    {{#each installments}}
      <div class="installment-box">
        <img src="{{this.imageLink}}" style="float:right;" />
        <h5><span class="installment-title">{{this.name}}</span></h5>
        <p>Release Date: <span>{{this.releaseDate}}</span></p>
        <label for="seen-it">I've seen this episode</label><input name="seen-it" type="checkbox" id="{{this._id}}">
      </div>
    {{/each}}
  </div>