<h4>Episode List:</h4>
{{#each data}}
  <div class="episode-list" data-episodeid="{{this.id}}">
    <img src="https://thetvdb.com/banners/{{this.filename}}" alt="{{this.EpisodeName}} Episode Image" style="float:right;margin:1rem;" />
    <p>Episode Title: <span class="">{{this.EpisodeName}}</span></p>
    <p>Episode Number: <span class="">{{this.SeasonNumber}}-{{this.EpisodeNumber}}</span></p>
    <p>First Aired: <span class="">{{this.FirstAired}}</span></p>
    <p>Overview: <span class="">{{this.Overview}}</span></p>
    <div style="clear:both"></div>
  </div>
{{/each}}